@page
@model TruyenVNClient.Pages.Admin.Users.IndexModel
@{
    Layout = "_LayoutAdmin";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <center><p class="text-success">@ViewData["success"]</p></center>
    <center><p class="text-danger">@ViewData["error"]</p></center>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>User Id</th>
                <th>User Name</th>
                <th>Email</th>
                <th>DateOfBirth</th>
                <th>Gender</th>
                <th>CreateAt</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="table-border-bottom-0">
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>@item.user_id</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.DateOfBirth</td>
                    <td>@item.Gender</td>
                    <td>@item.CreateAt</td>
                    <td>
                        @if (@item.isActive)
                        {
                            <a class="btn btn-danger" asp-page-handler="Active" asp-route-id="@item.user_id">Block</a>
                        }
                        else
                        {
                            <a class="btn btn-success" asp-page-handler="Active" asp-route-id="@item.user_id">Active</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @if (Model.count > 1)
            {
                <li class="page-item prev">
                    <a class="page-link  @(Model.currentcount == 1 ? "d-none" : "")" href="/Admin/Stories?pageNumber=@Model.currentcount-1">
                        <i class="tf-icon bx bx-chevron-left"></i>
                    </a>
                </li>
                @for (int i = 1; i <= Model.count; i++)
                {
                    if (i == Model.currentcount)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="/Admin/Stories?pageNumber=@i">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="/Admin/Stories?pageNumber=@i">@i</a>
                        </li>
                    }
                }
                <li class="page-item prev">
                    <a class="page-link @(Model.currentcount == Model.count ? "d-none" : "")" href="/Admin/Stories?pageNumber=@Model.currentcount+1">
                        <i class="tf-icon bx bx-chevron-right"></i>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>