@page
@model TruyenVNClient.Pages.CategoryModel
@{
}
<div class="content">


    <div class="div_middle">

        <div class="alert-note-fix"></div>
        <div class="main_content">
            <div id="main_homepage">
                <div class="homepage_tags">
                    <h1>
                        <p class="text_list_update">
                            <i class="fa fa-font-awesome" aria-hidden="true"></i> Truyện @Model.CurrentCategory.cate_name
                        </p>
                    </h1>
                    <div class="clear"></div>
                </div>
                <div class="tags_detail">
                    @Model.CurrentCategory.cate_description
                </div>
                <div class="story-list-bl01 box">
                    <table>
                        <tr>
                            <th>Thể loại truyện</th>
                            <td>
                                <div class="select is-warning">
                                    <form method="get">
                                        <select id="category" onchange="FormSubmit()">
                                            @foreach (var item in Model.Categories)
                                            {
                                                if (item.cate_id == Model.CurrentCategory.cate_id)
                                                {
                                                    <option selected value="@item.cate_id">@item.cate_name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.cate_id">@item.cate_name</option>
                                                }
                                            }
                                        </select>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="list_grid_out">
                    <ul class="list_grid grid">
                        @foreach (var item in Model.Stories)
                        {
                            <li>
                                <div class="book_avatar">
                                    <a href="/TruyenTranh?id=@item.story_id"><img class="center" src="@item.story_image" alt="@item.story_name"></a>

                                    <div class="top-notice">
                                        <span class="type-label new">New</span>
                                    </div>
                                </div>
                                <div class="book_info">
                                    <div class="book_name qtip" data-qtip="#truyen-tranh-14490">
                                        <h3><a title="Cốt Nhân" href="/TruyenTranh?id=@item.story_id">@item.story_name</a></h3>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function FormSubmit(){
        var value = $("#category").val();
        window.location.href = "/Category?catgoryId="+ value;
    }

</script>