@page
@model TruyenVNClient.Pages.ComicHistoryModel
@{
}
<div class="content">


    <div class="div_middle">

        <div class="alert-note-fix"></div>


        <div class="main_content">
            <div id="main_homepage">
                <div class="homepage_tags">
                    <h1>
                        <p class="text_list_update">
                            <i class="fa fa-font-awesome" aria-hidden="true"></i> Lịch Sử Đọc Truyện
                        </p>
                    </h1>
                    <div class="clear"></div>
                </div>
                <div class="list_grid_out visited-comics-page">
                    <ul class="list_grid grid">
                        @foreach(var item in Model.ListVieweds){
                            <li>
                                <div class="book_avatar">
                                    <span class="remove-history" title="Xóa truyện đã đọc" data-id="740"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                                    <a href="/TruyenTranh?id=@item.Chapters.Stories.story_id"><img class="center" src="@item.Chapters.Stories.story_image" alt="@item.Chapters.Stories.story_name"></a>

                                    <div class="top-notice">
                                        <span class="time-ago">1 Ngày Trước</span>
                                    </div>
                                </div>
                                <div class="book_info">
                                    <div class="book_name qtip" data-qtip="#truyen-tranh-197004528">
                                        <h3><a title="Thất Hình Đại Tội" href="/TruyenTranh?id=@item.Chapters.Stories.story_id">@item.Chapters.Stories.story_name</a></h3>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="last_chapter">
                                        <a href="/ReadComic?chapter=@item.Chapters.chapter_number&storyId=@item.Chapters.story_id" title="@item.Chapters.title">Chapter @item.Chapters.chapter_number</a>
                                    </div>
                                    
                                </div>

                                <div class="clear"></div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="clear"></div>



            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>