@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="content hompage light">
    <div class="div_middle">

        <div class="alert-note-fix"></div>


        <div class="main_content">
            <section class="hero">
                <div class="container">
                    <div class="tile is-ancestor">
                        <div class="tile is-3 is-vertical is-parent">
                            <div class="tile is-child">
                                <a href="https://truyenqqq.vn/truyen-tranh/thanh-guom-diet-quy-2624-chap-205-6.html">
                                    <div class="hero-item">
                                        <img class="cover" src="https://i.truyenvua.com/slider/290x191/slider_1559213537.jpg?gt=hdfgdfg&mobile=2" alt="cover" />
                                        <div class="bottom-shadow"></div>
                                        <div class="captions">
                                            <h3>Thanh Gươm Diệt Quỷ</h3>
                                        </div>
                                        <div class="chapter green">Chương 205.6</div>
                                    </div>
                                    <!-- /.hero-item -->
                                </a>
                            </div>
                            <div class="tile is-child">
                                <a href="https://truyenqqq.vn/truyen-tranh/one-piece-128-chap-1088.html">
                                    <div class="hero-item">
                                        <img class="cover" src="https://i.truyenvua.com/slider/290x191/slider_1559211185.jpg?gt=hdfgdfg&mobile=2" alt="cover" />
                                        <div class="bottom-shadow"></div>
                                        <div class="captions">
                                            <h3>One Piece</h3>
                                        </div>
                                        <div class="chapter red">Chương 1088</div>
                                    </div>
                                    <!-- /.hero-item -->
                                </a>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child">
                                <a href="#">
                                    <div class="hero-item has-excerpt">
                                        <img class="cover" src="@Model.Top1Stories.story_image" alt="cover" />
                                        <div class="bottom-shadow"></div>
                                        <div class="captions">
                                            <h5>@Model.Top1Stories.description</h5>
                                            <h3>@Model.Top1Stories.story_name</h3>
                                        </div>
                                        <div class="chapter violet">Chương 394</div>
                                    </div>
                                    <!-- /.hero-item -->
                                </a>
                            </div>
                        </div>
                        <div class="tile is-3 is-vertical is-parent">
                            <div class="tile is-child">
                                <a href="https://truyenqqq.vn/truyen-tranh/hoi-phap-su-nhiem-vu-tram-nam-5212-chap-136.html">
                                    <div class="hero-item">
                                        <img class="cover" src="https://i.truyenvua.com/slider/290x191/slider_1561609693.jpg?gt=hdfgdfg&mobile=2" alt="cover" />
                                        <div class="bottom-shadow"></div>
                                        <div class="captions">
                                            <h3>Hội Pháp Sư Nhiệm Vụ Trăm Năm</h3>
                                        </div>
                                        <div class="chapter blue">Chương 136</div>
                                    </div>
                                    <!-- /.hero-item -->
                                </a>
                            </div>
                            <div class="tile is-child">
                                <a href="https://truyenqqq.vn/truyen-tranh/vuong-gia-thien-ha-245-chap-763.html">
                                    <div class="hero-item">
                                        <img class="cover" src="https://i.truyenvua.com/slider/290x191/slider_1567830171.jpg?gt=hdfgdfg&mobile=2" alt="cover" />
                                        <div class="bottom-shadow"></div>
                                        <div class="captions">
                                            <h3>Vương Giả Thiên Hạ</h3>
                                        </div>
                                        <div class="chapter orange">Chương 763</div>
                                    </div>
                                    <!-- /.hero-item -->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- /.schedule -->
            <div class="homepage_suggest">
                <h2>
                    <p class="text_list_hot">
                        <i class="fa fa-star"></i> Truyện hay
                    </p>
                </h2>
                <div id="div_suggest">
                    <ul class="list_grid grid" id="list_suggest">
                        <li>
                            <div class="book_avatar">
                                <a href="https://truyenqqq.vn/truyen-tranh/bach-luyen-thanh-than-1099"><img class="center" src="https://i.truyenvua.com/ebook/190x247/bach-luyen-thanh-than_1444715692.jpg?gt=hdfgdfg&mobile=2" alt="Bách Luyện Thành Thần"></a>
                                <div class="top-notice">
                                    <span class="time-ago">1 Giờ Trước</span> <span class="type-label hot">Hot</span>
                                </div>

                            </div>
                            <div class="book_info">
                                <div class="book_name">
                                    <h3 itemprop="name"><a title="Bách Luyện Thành Thần" href="https://truyenqqq.vn/truyen-tranh/bach-luyen-thanh-than-1099">Bách Luyện Thành Thần</a></h3>
                                </div>
                                <div class="clear"></div>
                                <div class="last_chapter">
                                    <a href="https://truyenqqq.vn/truyen-tranh/bach-luyen-thanh-than-1099-chap-1103.html">Chương 1103</a>
                                </div>
                            </div>

                            <div class="clear"></div>
                        </li>
                        <li>
                            <div class="book_avatar">
                                <a href="https://truyenqqq.vn/truyen-tranh/toi-viet-sach-de-thang-cap-10492"><img class="center" src="https://i.truyenvua.com/ebook/190x247/toi-viet-sach-de-thang-cap_1604896199.jpg?gt=hdfgdfg&mobile=2" alt="Tôi Viết Sách Để Thăng Cấp"></a>
                                <div class="top-notice">
                                    <span class="time-ago">3 Giờ Trước</span> <span class="type-label hot">Hot</span>
                                </div>

                            </div>
                            <div class="book_info">
                                <div class="book_name">
                                    <h3 itemprop="name"><a title="Tôi Viết Sách Để Thăng Cấp" href="https://truyenqqq.vn/truyen-tranh/toi-viet-sach-de-thang-cap-10492">Tôi Viết Sách Để Thăng Cấp</a></h3>
                                </div>
                                <div class="clear"></div>
                                <div class="last_chapter">
                                    <a href="https://truyenqqq.vn/truyen-tranh/toi-viet-sach-de-thang-cap-10492-chap-145.html">Chương 145</a>
                                </div>
                            </div>

                            <div class="clear"></div>
                        </li>
                        <li>
                            <div class="book_avatar">
                                <a href="https://truyenqqq.vn/truyen-tranh/toan-chuc-phap-su-4140"><img class="center" src="https://i.truyenvua.com/ebook/190x247/toan-chuc-phap-su_1518956513.jpg?gt=hdfgdfg&mobile=2" alt="Toàn Chức Pháp Sư"></a>
                                <div class="top-notice">
                                    <span class="time-ago">6 Giờ Trước</span> <span class="type-label hot">Hot</span>
                                </div>

                            </div>
                            <div class="book_info">
                                <div class="book_name">
                                    <h3 itemprop="name"><a title="Toàn Chức Pháp Sư" href="https://truyenqqq.vn/truyen-tranh/toan-chuc-phap-su-4140">Toàn Chức Pháp Sư</a></h3>
                                </div>
                                <div class="clear"></div>
                                <div class="last_chapter">
                                    <a href="https://truyenqqq.vn/truyen-tranh/toan-chuc-phap-su-4140-chap-1065.html">Chương 1065</a>
                                </div>
                            </div>

                            <div class="clear"></div>
                        </li>
                        <li>
                            <div class="book_avatar">
                                <a href="https://truyenqqq.vn/truyen-tranh/vo-luyen-dinh-phong-3926"><img class="center" src="https://i.truyenvua.com/ebook/190x247/vo-luyen-dinh-phong_1514903369.jpg?gt=hdfgdfg&mobile=2" alt="Võ Luyện Đỉnh Phong"></a>
                                <div class="top-notice">
                                    <span class="time-ago">7 Giờ Trước</span> <span class="type-label hot">Hot</span>
                                </div>

                            </div>
                            <div class="book_info">
                                <div class="book_name">
                                    <h3 itemprop="name"><a title="Võ Luyện Đỉnh Phong" href="https://truyenqqq.vn/truyen-tranh/vo-luyen-dinh-phong-3926">Võ Luyện Đỉnh Phong</a></h3>
                                </div>
                                <div class="clear"></div>
                                <div class="last_chapter">
                                    <a href="https://truyenqqq.vn/truyen-tranh/vo-luyen-dinh-phong-3926-chap-3464.html">Chương 3464</a>
                                </div>
                            </div>

                            <div class="clear"></div>
                        </li>
                        <li>
                            <div class="book_avatar">
                                <a href="https://truyenqqq.vn/truyen-tranh/noragami-629"><img class="center" src="https://i.truyenvua.com/ebook/190x247/noragami_1552633208.jpg?gt=hdfgdfg&mobile=2" alt="Noragami"></a>
                                <div class="top-notice">
                                    <span class="time-ago">13 Giờ Trước</span> <span class="type-label hot">Hot</span>
                                </div>

                            </div>
                            <div class="book_info">
                                <div class="book_name">
                                    <h3 itemprop="name"><a title="Noragami" href="https://truyenqqq.vn/truyen-tranh/noragami-629">Noragami</a></h3>
                                </div>
                                <div class="clear"></div>
                                <div class="last_chapter">
                                    <a href="https://truyenqqq.vn/truyen-tranh/noragami-629-chap-106-2.html">Chương 106.2</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </li>
                    </ul>
                    <div class="clear"></div>
                    <div class="scroll" style="display: block;">
                        <div onclick="scroll_div('left');" class="left">
                            <i class="fa fa-angle-left"></i>
                        </div>
                        <div onclick="scroll_div('right');" class="right">
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div id="main_homepage">
                <div class="homepage_tags">
                    <h1>
                        <p class="text_list_update">
                            <a href="https://truyenqqq.vn/truyen-moi-cap-nhat.html"><i class="fa fa-cloud-download" aria-hidden="true"></i> Truyện mới cập nhật</a>
                        </p>
                    </h1>
                    <div class="sort">
                        <a href="https://truyenqqq.vn/tim-kiem-nang-cao.html">
                            <button> <i class="fa fa-filter" aria-hidden="true"></i></button>
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="list_grid_out">

                    @foreach (var item in Model.ListStoriesUpdate)
                    {
                        <ul class="list_grid grid" id="list_new">
                            <li>
                                <div class="book_avatar">
                                    <a href="#"><img class="center" src="@item.story_image" alt="@item.story_name"></a>

                                    <div class="top-notice">
                                        <span class="time-ago">24 Phút Trước</span> <span class="type-label hot">Hot</span>
                                    </div>
                                </div>
                                <div class="book_info">
                                    <div class="book_name qtip" data-qtip="#truyen-tranh-13060">
                                        <h3><a title="@item.story_name" href="#">@item.story_name</a></h3>
                                    </div>
                                    
                                        <div class="clear"></div>
                                       
                                            <div class="text_detail">
                                                <span>
                                                    <i class="fa fa-bookmark"></i> 2,126
                                                </span>
                                                <span>
                                                    <i class="fa fa-eye"></i>264,124
                                                </span>
                                            </div>
                                            <div class="last_chapter">
                                                <a href="#" title="@item.chapter_last">Chapter @item.chapter_last</a>
                                            </div>
                                           
                                </div>


                            </li>
                        </ul>
                    }

                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div style="width:100%">
    <script async src="https://cdn.aanetwork.vn/code/9/0/903ce9225fca3e988c2af215d4e544d3.js" crossorigin="anonymous"></script>
</div>
