@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="content hompage light">
    <div class="div_middle">

        <div class="alert-note-fix"></div>


        <div class="main_content">
            <section class="hero">
                <div class="container">
                    <div class="tile is-ancestor">
                        <div class="tile is-3 is-vertical is-parent">
                            @foreach (var item in Model.Top2and3Stories)
                            {
                                <div class="tile is-child">
                                    <a href="/TruyenTranh?id=@item.story_id">
                                        <div class="hero-item">
                                            <img class="cover" src="@item.story_image" alt="cover" />
                                            <div class="bottom-shadow"></div>
                                            <div class="captions">
                                                <h3>@item.story_name</h3>
                                            </div>
                                            <div class="chapter green">Chương @item.chapter_last</div>
                                        </div>
                                        <!-- /.hero-item -->
                                    </a>
                                </div>
                            }
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child">
                                <a href="/TruyenTranh?id=@Model.Top1Stories.story_id">
                                    <div class="hero-item has-excerpt">
                                        <img class="cover" src="@Model.Top1Stories.story_image" alt="cover" />
                                        <div class="bottom-shadow"></div>
                                        <div class="captions">
                                            <h5>@Model.Top1Stories.description</h5>
                                            <h3>@Model.Top1Stories.story_name</h3>
                                        </div>
                                        <div class="chapter violet">Chương @Model.Top1Stories.chapter_last</div>
                                    </div>
                                    <!-- /.hero-item -->
                                </a>
                            </div>
                        </div>
                        <div class="tile is-3 is-vertical is-parent">
                            @foreach (var item in Model.Top4and5Stories)
                            {
                                <div class="tile is-child">
                                    <a href="/TruyenTranh?id=@item.story_id">
                                        <div class="hero-item">
                                            <img class="cover" src="@item.story_image" alt="cover" />
                                            <div class="bottom-shadow"></div>
                                            <div class="captions">
                                                <h3>@item.story_name</h3>
                                            </div>
                                            <div class="chapter green">Chương @item.chapter_last</div>
                                        </div>
                                        <!-- /.hero-item -->
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </section>

            <!-- /.schedule -->
            <div class="homepage_suggest">
                <h2>
                    <p class="text_list_hot">
                        <i class="fa fa-star"></i> Truyện hay
                    </p>
                </h2>
                <div id="div_suggest">
                    <ul class="list_grid grid" id="list_suggest">
                        @foreach (var item in Model.ListStoriesGood)
                        {
                            <li>
                                <div class="book_avatar">
                                    <a href="/TruyenTranh?id=@item.story_id"><img class="center" src="@item.story_image" alt="@item.story_name"></a>
                                    @if (item.story_id % 2 == 0)
                                    {
                                        <div class="top-notice">
                                            <span class="type-label hot">Hot</span>
                                        </div>
                                    }
                                </div>
                                <div class="book_info">
                                    <div class="book_name">
                                        <h3 itemprop="name"><a title="@item.story_name" href="/TruyenTranh?id=@item.story_id">@item.story_name</a></h3>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="last_chapter">
                                        <a href="/ReadComic?chapter=@item.chapter_last&storyId=@item.story_id">Chương @item.chapter_last</a>
                                    </div>
                                </div>

                                <div class="clear"></div>
                            </li>
                        }
                    </ul>
                    <div class="clear"></div>
                    <div class="scroll" style="display: block;">
                        <div onclick="scroll_div('left');" class="left">
                            <i class="fa fa-angle-left"></i>
                        </div>
                        <div onclick="scroll_div('right');" class="right">
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div id="main_homepage">
                <div class="homepage_tags">
                    <h1>
                        <p class="text_list_update">
                            <a href="https://truyenqqq.vn/truyen-moi-cap-nhat.html"><i class="fa fa-cloud-download" aria-hidden="true"></i> Truyện mới cập nhật</a>
                        </p>
                    </h1>
                    <div class="sort">
                        <a href="/Category">
                            <button> <i class="fa fa-filter" aria-hidden="true"></i></button>
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="list_grid_out">

                    @foreach (var item in Model.ListStoriesUpdate)
                    {
                        <ul class="list_grid grid" id="list_new">
                            <li>
                                <div class="book_avatar">
                                    <a href="/TruyenTranh?id=@item.story_id"><img class="center" src="@item.story_image" alt="@item.story_name"></a>
                                    @{
                                        // Giả sử item.update_at là một giá trị DateTime biểu thị thời điểm cập nhật
                                        DateTime updatedDateTime = item.update_at;
                                        DateTime currentDateTime = DateTime.Now;
                                        TimeSpan timeElapsed = currentDateTime - updatedDateTime;

                                        // Xác định các thành phần của khoảng thời gian (ngày, giờ, phút, giây)
                                        int days = timeElapsed.Days;
                                        int hours = timeElapsed.Hours;
                                        int minutes = timeElapsed.Minutes;

                                        // Xây dựng chuỗi kết quả dựa trên khoảng thời gian tính được
                                        string result = "";
                                        if (days > 0)
                                        {
                                            result += days + " ngày ";
                                        }else
                                        if (hours > 0)
                                        {
                                            result += hours + " giờ ";
                                        }else
                                        if (minutes > 0)
                                        {
                                            result += minutes + " phút ";
                                        }
                                      

                                        // Loại bỏ khoảng trắng cuối cùng nếu có
                                        result = result.Trim();

                                        // Hiển thị kết quả trong thẻ span có class "time-ago"
                                    }
                                    <div class="top-notice">
                                        <span class="time-ago">@result trước</span> <span class="type-label hot">Hot</span>
                                    </div>
                                </div>
                                <div class="book_info">
                                    <div class="book_name qtip" data-qtip="#truyen-tranh-13060">
                                        <h3><a title="@item.story_name" href="/TruyenTranh?id=@item.story_id">@item.story_name</a></h3>
                                    </div>

                                    <div class="clear"></div>

                                    <div class="text_detail">
                                        <span>
                                            <i class="fa fa-bookmark"></i> 2,126
                                        </span>
                                        <span>
                                            <i class="fa fa-eye"></i>264,124
                                        </span>
                                    </div>
                                    <div class="last_chapter">
                                        <a href="/ReadComic?chapter=@item.chapter_last&storyId=@item.story_id" title="@item.chapter_last">Chapter @item.chapter_last</a>
                                    </div>

                                </div>


                            </li>
                        </ul>
                    }

                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div style="width:100%">
    <script async src="https://cdn.aanetwork.vn/code/9/0/903ce9225fca3e988c2af215d4e544d3.js" crossorigin="anonymous"></script>
</div>
