@page
@model TruyenVNClient.Pages.ReadComicModel
@{
}


<div class="div_middle" style="background-color: black">
    @if(ViewData["error"] != null)
    {
        <p onload="alert("bạn càn đăng nhập để báo lỗi")"></p>
    }
    <div class="alert-note-fix"></div>
    <div class="main_content">

        <div id="chapter_content">
            <div class="chapter_content_div chapter_new_load">
                <div class="box">
                    <div id="path" class="path-top">
                        <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a itemprop="item" href="/Index">
                                    <span itemprop="name">Trang Chủ</span>
                                </a>
                                <meta itemprop="position" content="1" />
                            </li>
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a itemprop="item" href="/TruyenTranh?id=@Model.Chapters.First().Stories.story_id">
                                    <span itemprop="name">@Model.Chapters.First().Stories.story_name</span>
                                </a>
                                <meta itemprop="position" content="2" />
                            </li>
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a itemprop="item" href="/ReadComic?chapter=@Model.Chapters.First().chapter_number&storyId=@Model.Chapters.First().story_id">
                                    <span itemprop="name">Chương @Model.Chapters.First().chapter_number</span>
                                </a>
                                <meta itemprop="position" content="3" />
                            </li>
                        </ol>
                    </div>
                    <div>
                        <h1 class="detail-title txt-primary"><a href="">@Model.Chapters.First().Stories.story_name</a> - @Model.Chapters.First().title</h1>
                        <time datetime="@Model.Chapters.First().create_at">@Model.Chapters.First().update_at</time>
                    </div>
                    <div class="chapter-control">
                        <div class="mrt10">
                            <a rel="nofollow" asp-page-handler="Report" asp-page="ReadComic" asp-route-id="@Model.Chapters.First().chapter_id" class="alertError btn btn-warning"><i class="fa fa-exclamation-triangle"></i> Báo Lỗi Chương</a>
                        </div>
                        <br />
                        @{
                            int chapterNext = (int)Model.Chapters.First().chapter_number + 1;
                            int chapterPre = (int)Model.Chapters.First().chapter_number -1 ;
                            int storyId = Model.Chapters.First().Stories.story_id;
                        }
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn btn-info go-btn prev text-white m-1 d-block" href="/ReadComic?chapter=@chapterPre&storyId=@storyId"><em class="fa fa-arrow-left"></em> Chap trước</a>
                            <a class="btn btn-info go-btn next text-white m-1 d-block" href="/ReadComic?chapter=@chapterNext&storyId=@storyId">Chap sau <em class="fa fa-arrow-right"></em></a>
                        </div>
                    </div>
                </div>
                <br />
                <div class="chapter_content">

                    <div style="overflow: hidden;" class="text-center">
                        @foreach(var item in Model.Chapters){
                        <div id="page_0" class="page-chapter">
                            <img class="lazy text-white" src="@item.content" data-original="@item.content" alt="Chap bị lỗi. Các bạn vui lòng ấn nút báo lỗi ở trên" />
                        </div>
                        }
                    </div>

                    <div id="ad_info" style="margin-bottom: 10px;">
                    </div>

                    <div class="clear"></div>

                </div>
                <div class="clear"></div>
                <div class="box bottom-chap">
                    <div class="chapter-control" style="z-index: 9999">
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn btn-info go-btn prev text-white m-1 d-block" href="/ReadComic?chapter=@chapterPre&storyId=@storyId"><em class="fa fa-arrow-left"></em> Chap trước</a>
                            <a class="btn btn-info go-btn next text-white m-1 d-block" href="/ReadComic?chapter=@chapterNext&storyId=@storyId">Chap sau <em class="fa fa-arrow-right"></em></a>
                        </div>
                    </div>
                    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/Index">
                                <span itemprop="name">Trang Chủ</span>
                            </a>
                            <meta itemprop="position" content="1" />
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/TruyenTranh?id=@Model.Chapters.First().Stories.story_id">
                                <span itemprop="name">@Model.Chapters.First().Stories.story_name</span>
                            </a>
                            <meta itemprop="position" content="2" />
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/ReadComic?chapter=@Model.Chapters.First().chapter_number&storyId=@Model.Chapters.First().story_id">
                                <span itemprop="name">Chương @Model.Chapters.First().chapter_number</span>
                            </a>
                            <meta itemprop="position" content="3" />
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
